@font-face {
    font-family: "Big Noodle Titling";
    src: url("../fonts/big_noodle_titling.ttf");
}
@font-face {
    font-family: "Messina Regular";
    src: url("../fonts/MessinaSans-Regular.ttf");
}
@font-face {
    font-family: "Messina Black";
    src: url("../fonts/MessinaSans-Black.ttf");
}
body{
    background-color: #FA8403;
    color: white;
    font-family: "Big Noodle Titling";
    padding: 0;
    margin: 0;
}
body a {
    text-decoration: none;
    color: white;
}
body ul li {
    list-style: none;
}
.caja {
    background: #000000 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 6px #0000006E;
    opacity: 1;
    border-radius: 30px !important;
    max-width: 80%;
}


.btn-clasefree {
    padding-top: 0.5rem;
    font-size: 1.5rem;
    height: 3rem;
    display: flex;
    background: #000000 0% 0% no-repeat padding-box;
    justify-content: center;
    text-decoration: none;
}

.welcome-box{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.list-group li a.active {
    color: #FA8403 !important;
}
.list-group li a:hover {
    color: #FA8403 !important;
}

.box-title {
    color: #FA8403;
    font-size: 30px;
}
.box-text {
    font-family: "Messina Regular";
    font-size: 12px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.item-box{
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: black;
    text-transform: uppercase;
    font-family: "Messina Black";
    font-size: 12px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.item-sede{
    background-color: #FA8403;
    color: white;
    border: black solid;
}
.home {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
}
.img-home{
    border:solid #FA8403;
    border-radius: 10px;
}

.text-home {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.text-home p {
    font-family: "Messina Regular";
    font-size: 0.8rem;
}
p {
    font-family: "Messina Regular";
    font-size: 0.8rem;
    
}

a p {
    margin-bottom: 0px !important;
}

.fondologo{
    background-image: url("../image/logohammerblanco.png");
    opacity:0.1;
    margin-left: -1rem;
    height: 5rem; 
    background-repeat: no-repeat; 
    background-size: cover; 

}


.guion1{
    float: right;
}
.guion2{
    margin-top: 20%;
}
.text-effect{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}


.back-slider-vos{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 25rem;
    transform: skew(0,-8deg);
}
.logovertical1{
    opacity:0.1;
    margin-left: -20rem;
    background-repeat: no-repeat; 
    background-size: cover; 
    transform: rotate(-90deg);
}
.logovertical2{
    opacity:0.1;
    margin-left: -20rem;
    margin-top: 8rem;;
    background-repeat: no-repeat; 
    background-size: cover; 
    transform: rotate(-90deg);
}
.slider-vos{
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 13px;
    height: 400px;
}
.effect-vos {
    color: transparent; 
    -webkit-text-stroke:0.3px white;
}
.text-effect p {
    font-family: "Messina Regular";
    font-size: 0.8rem;
}
hr{
    width: 40% !important;
    opacity: 1 !important;
}
.back-tus-actividades{
    position: absolute;
    background-color: white;
    width: 100%;
    height:38rem;
}
.effect-actividades{
    color: transparent; 
    -webkit-text-stroke:0.3px #FA8403;
}
.img_slider_actividad{
    position: relative;
    height: 33rem;
}
.act-musculacion{
    background-image: url("../image/act-musculacion.png");
    background-size: contain; 
}

.act-kids{
    background-image: url("../image/actividadeskids.jpg");
    background-size: cover; 
}

.act-cardio{
    background-image: url("../image/cardio1.png");
    background-size: contain; 
}

.card-actividades, .card-actividades-white{
    background-color: #FA8403;
    position: relative;
    bottom: -19rem;
    transform: skew(0,-6deg);
    height: 16rem;
}

.card-actividades-white{
    background-color: white;
}
.style-actividades{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
}
.text-slider-actividad{
    position: absolute;
    bottom: 1rem;
}
.card-titulo, .t-cardio, .t-musculacion, .t-kids{
    position: absolute;
    font-size: 5.5rem;
    opacity: 0.1;
}
.card-subtitulo {
    margin-left: 1rem;
    font-size: 2.5rem;
}
.card-parrafo{
    margin: 0.95rem;
    font-size: 0.75rem;
    text-align: justify;
}

.t-cardio{
    margin-top: -1.5rem;
}
.t-musculacion{
    margin-top: -4.5rem;
}
.t-kids{
    margin-top: -4.5rem;
}
.footer-gym{
    position: relative;
    width: 100%;
    background-color: black; 
    height: 11rem;
}

.modal-style{
    position: absolute;
    background-image: url("../image/backmodal.png");
    opacity:0.2;
    background-size: cover; 
    height: 25rem; 
    width: 90%; 
}
.btn-programar {
    position: relative;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    margin: auto;
    width: 50%;
    background-color: white;
    color: #FA8403;
    font-size: 2rem;
}
.site-beneficios{
    background-color: #FA8403;
}